:root{
    --text-color: white;
    --font-size-label: 1.2rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.revertHome{
    width: 100%;
    color: var(--text-color);
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    column-gap: 5px;
}
.revertHome > i{
    transform: rotate(180deg);
    margin-bottom: 5px;
    cursor: pointer;
}
.LoginPanel {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(88, 88, 88, 0), rgba(255, 255, 255, 0.5)), url('../image/abef54f8e36bcb657b8738253bbf94cb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 450px;
    margin-top: 10vh;
}
.Login_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    row-gap: 45px;
}
.Login__title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bold;
    
}
.account, .password {
    display: flex;
    flex-direction: column;
   
}
#numberphone, #pass{
    padding: 10px;
    width: 370px;
    font-size: var(--font-size-label);
}
label{
    color: var(--text-color);
    font-size: var(--font-size-label);
}
.password {
    
}
.btnLogin {

}
#Login{
    font-size: var(--font-size-label);
    padding: 10px 20px;
    font-weight: bold;

}
#Login:active{
    transform: scale(0.95);
}
.createAccount{
    font-size: var(--font-size-label);
    text-decoration: none;
}